{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>instagram</title>
  {% block styles%}
    {% bootstrap_css%}
    <link rel="stylesheet" href="{% static 'css/base.css'%}">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/insta.png' %}"/>
  {% endblock %}
</head>
<body>

    {% include "navbar.html" %}


    <div class="container-fluid" id="body">
      {% block content %}
      {% endblock %}
    </div>

    {% block scripts %}
    <script type="text/javascript" src="{% static 'js/jquery-3.1.0.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/ajax-csrf-auth.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/index.js' %}"></script>
    {% bootstrap_javascript %}
    {% endblock %}
    <style>
     body{
       background-image: url(./static/images/in.jpg);
        background-size: 1280px 800px;
       background-attachment: fixed;
    }
  </style>
</body>
</html>
