{% extends 'all-instagram/base.html' %} {% load bootstrap4 %} {% block content %} {{block.super}}
<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-4 mt-5 pt-5 mb-5 pb-5">
      <div class="card mt-5 pt-5 mb-5 pb-5" style="width: 30rem;">
        <div class="card-body">
          <form method="post" enctype="multipart/form-data">
            {% csrf_token %} {{user_form.as_p}} {{ profile_form.as_p}}
            <div class="form-group">
              <input type="submit" class="btn btn-info btn-sm" value="Post">
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-6"></div>
  </div>
</div>
{% endblock %}
