{% extends "base.html" %}{%load static%} {% block content %} {{block.super}}
<div class="container mt-5">
  {% for post in posts%}
  <div class="row">
    <div class="col-xs-1 col-sm-1 col-md-1 mt-1"></div>
    <div class="col-xs-5 col-sm-5 col-md-5 mt-5 mr-5">
      <div class="card mr-5 mb-3" style="width: 25rem;">
        <ul class="list-group list-group-flush">
          <li class="list-group-item textsize"><a href="{% url 'profile' post.user.id %}" class="textsize">{{post.user.username}}</a></li>
        </ul>
        {% if post.photo%}
        <img class="card-img-top" src="{{post.photo.url}}" class="img-responsive" alt=""> {% endif%}
        <div class="mt-2 ml-2 mr-3 mb-3">
          <span><i class="fa fa-heart-o fa-1x mr-2"></i></span>
          <span><a href="{% url 'comment'  id=post.pk %}"><i class="fa fa-comment-o fa-1x"></i></a></span>
          <span><i class="fa fa-bookmark-o fa-1x float-right mt-1"></i></span>
          <p class="mt-1" style="font-size:12px;"><a href="{% url 'profile' post.user.id%}" class="textsize">{{post.user.username}}</a> {{post.photo_caption}}</p>
          <p class="text-muted" style="font-size:10px">{{post.pub_date|timesince}}</p>

          <div class="mb-2">{% for comment in post.comment.all %}
            <p style="font-size:11px;"><strong><a href="{% url 'profile' comment.user.id%}" class="textsize">{{comment.user}}</a></strong> {{comment.comment}}</p>
            {% endfor %}
            <hr>
            <a href="{% url 'comment'  id=post.pk %}">
              <p class="text-muted ml-3" style="font-size:10px"> Add comment ...</p>
            </a>
          </div>

        </div>
      </div>
    </div>

  </div>
{%endfor%}
</div>
  {% endblock %}
