{% load static %}
<nav class="navbar navbar-light fixed-top justify-content-between mynav">
  <a class="navbar-brand" href="{% url 'index' %}">
  <i class="fa fa-instagram ml-5 pl-5"></i>
  Insta</a>
  <form class="form-inline" role="search" action="{% url 'search' %}">
    <div class="input-group">
      <input class="form-control textsize" type="text" placeholder="search" name="profile" aria-label="Search">
    </div>
  </form>
  <div class="mr-5 pr-5" style="color:black;">
    <a href="#" title="coming soon"><i class="fa fa-compass fa-1x mr-4"></i></a>
    <a href="#" title="coming soon"><i class="fa fa-heart-o fa-1x mr-4 "></i></a>
    <a href="{% url 'photo' %}" title="upload image"><i class="fa fa-cloud-upload fa-1x mr-4"></i></a>
    <a href="{% url 'profile' user.id %}" title="My profile"><i class="fa fa-user-o fa-1x mr-4"></i></a>
  </div>

</nav>
